# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Flask instance folder
instance/

# Flask logs
*.log

# Flask caches
.cache/
flask_session/

# Environment variables file
.env
*.env

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Static files generated during build or deployment
staticfiles/

# Temporary files and folders
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Dependencies
*.egg
*.egg-info/
dist/
build/
eggs/
